<div class="about-me-section">
  <div class="about-me-image">
    <img src="images/about/me.jpg" alt="Athenkosi Image" />
  </div>
  <div class="about-me-content">
    <div class="about-me-content-header">
      <h3>ASPIRING WEB DEVELOPER</h3>
      <h2>About Athenkosi</h2>
    </div>

    <div class="about-me-content-paragraph">
      <app-section-paragraph
        [paragraph]="
          'Hello, 👋 My name is Athenkosi Magada, and I\'m an aspiring full-stack developer who is passionate about JavaScript, C#, and Agile. At Umuzi, I received excellent experience diagnosing and debugging code, doing code reviews, and assisting my peers in improving their abilities. I\'ve also supervised students at Nelson Mandela University and tutored high school children in mathematics, where I gained a strong desire to create positive learning environments.'
        "
      />
      <app-section-paragraph
        [paragraph]="
          'With a Computer Science degree and interests in sports, agriculture, and nature, I\'m eager to advance as a developer and contribute to relevant initiatives.'
        "
      />
    </div>
  </div>
</div>
