<div class="about-me-section">
  <div class="about-me-image">
    <img src="images/about/me.jpg" alt="Athenkosi Image" />
  </div>

  <div class="about-me-content">
    <div class="about-me-content-header">
      <h3>FULL STACK DEVELOPER</h3>
      <h2>About Athenkosi</h2>
    </div>

    <div class="about-me-content-paragraph">
      <app-section-paragraph
        [paragraph]="
          'Hi 👋 I\'m Athenkosi Magada — a full-stack developer and Junior Tech Lead from Lusikisiki, South Africa. I specialize in building scalable web applications with C#, JavaScript, and .NET Core. My passion lies in creating secure, maintainable solutions using Clean Architecture and Agile methodologies.'
        "
      />
      <app-section-paragraph
        [paragraph]="
          'At Umuzi, I lead aspiring developers through real-world Agile projects, conduct code reviews, and facilitate stand-ups. With a Computer Science degree from Nelson Mandela University and a strong interest in mentorship, I thrive in collaborative environments focused on growth and excellence.'
        "
      />
      <app-section-paragraph
        [paragraph]="
          'When I\'m not coding, I enjoy exploring sports, agriculture, and nature. I\'m always eager to take on new challenges, refine my skills, and contribute to meaningful tech initiatives.'
        "
      />
    </div>
  </div>
</div>
