.project {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 var(--dark-color-800);
}

.project.even {
    flex-direction: row-reverse;
}

.project .project-image {
    width: 100%;
    max-height: 400px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 12px;
}

.project .content {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.project .content h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.project .content .tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.project .content .tags .tag {
    background-color: var(--dark-color-300);
    padding: 0.5rem 1.5rem;
    border-radius: 60px;
}

.project .content .links {
    display: flex;
    gap: 1rem;
}

.project .content .links > * {
    scale: 1;
    transition: scale 0.3s ease;
}

.project .content .links > *:hover {
    scale: 1.2;
}

@media screen and (max-width: 900px) {
    .project {
       flex-direction: column;
    }    

    .project.even {
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .project .project-image {
        aspect-ratio: 16/12;
    }

    .project .content {
        text-align: center;
    }

    .project .content .tags {
        justify-content: center;
    }

    .project .content .links {
        justify-content: center;
    }
}