.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    
}

.testimonial .quotes {
    width: 32px;
    height: 32px;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    padding: 3rem 1rem 1rem;
    background-color: var(--dark-color-200);
    position: relative;
    margin-top: 30px;
}

.testimonial-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    box-shadow: 0 0 2px 0 var(--dark-color-800);
}

.testimonial-comment {
    text-align: center;
    font-style: italic;
}