.service {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--dark-color-100);
    box-shadow: 0 0 2px 0 var(--dark-color-400);
    transition: background-color 0.3s ease;
}

.service:hover {
    background-color: var(--dark-color-200);
}

.service .header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.service .header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 6px;
    background-color: var(--dark-color-300);
}

.service .header .icon img {
    width: 32px;
    height: 32px;
}

.service .header h3 {
    font-size: 1.5rem;
    font-weight: 500;
}