.socials-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials-links  .socials-link {
    color: var(--primary-color);
    scale: 1;
    transition: scale 0.3s ease;
}

.socials-links  .socials-link:hover {
    scale: 1.2;
}