.navbar {
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

.navbar.scrolling {
    background-color: var(--dark-color-100);
    border-bottom: 1px solid var(--dark-color-200);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
}

.navbar .container app-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar .container app-menu {
        display: block;
    }

    .navbar .container app-social-links {
        display: none;
    }

    
    .navbar .container app-nav-links {
        display: none;
    }
    
}